---
import Layout from '../layouts/Layout.astro';
import RestaurantList from '../components/RestaurantList.svelte';
import "../styles/global.css";
---

<Layout title="Kuwait Fine Dining - Find your new favorite restaurant!">
  <div class="py-8">
    <div class="max-w-3xl mb-10">
      <h1 class="text-4xl font-bold mb-4 text-slate-100">Welcome to Kuwait Fine Dining</h1>
      <p class="text-xl text-slate-300">Find your next restaurant in Kuwait!</p>
    </div>
    
    <RestaurantList client:only="svelte" />
  </div>
</Layout>
